# api int
SIPKK_BACKEND_BASE_URL=http://sipkk-baru.test
NEXT_PUBLIC_SIPKK_BACKEND_BASE_URL=http://sipkk-baru.test
SIPKK_DASHBOARD_TTOKEN=
# external services
API_INDONESIA_KEY=
GEMINI_API_KEY=
GOOGLE_AI_API_KEY=
# route path
NEXT_PUBLIC_BASE_PATH=/dashboard-eoc
NEXT_PUBLIC_MEDIA_MONITORING_URL=https://pusatkrisis.kemkes.go.id/dashboard-media
NEXT_PUBLIC_NLP_URL=https://pusatkrisis.kemkes.go.id/nlp/
