#api int
SIPKK_BACKEND_BASE_URL=https://sipkk-new.mediaciptainformasi.co.id
NEXT_PUBLIC_SIPKK_BACKEND_BASE_URL=https://sipkk-new.mediaciptainformasi.co.id
SIPKK_DASHBOARD_TTOKEN=
#routepath
NEXT_PUBLIC_BASE_PATH=/dashboard-eoc
NEXT_PUBLIC_MEDIA_MONITORING_URL=https://pusatkrisis.kemkes.go.id/dashboard-media
NEXT_PUBLIC_NLP_URL=https://pusatkrisis.kemkes.go.id/nlp/