# Jalankan dari folder collector:
# docker compose --env-file .env.collector up -d --build

SOURCE_URL=https://ntt.tanggap-bencana.go.id/
NTT_DATA_DIR=/home/pusatkrisis/docker/data-ntt
NTT_COLLECTOR_INTERVAL_SECONDS=1800
NTT_COLLECTOR_TIMEOUT_SECONDS=30

# PostgreSQL pada container db-postgres
POSTGRES_HOST=db-postgres
POSTGRES_PORT=5432
POSTGRES_DB=collector_bencana_ntt
POSTGRES_MAINTENANCE_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_CONNECT_RETRIES=30
POSTGRES_RETRY_DELAY_SECONDS=2
